# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
# dist/
*.egg-info/

# Logs & caches
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
.cache/
.coverage
.coverage.*
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
.dmypy.json
.pyre/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment
.env
logs
.last_build_commit